{% embed 'base/banner.html.twig' %}
  {% block banner_content %}
    <h1>Mangas'Fan</h1>

    <p class="slogan">
      Votre site d'actualité sur les mangas et les animes
    </p>

    <div class="banner-social-network">
      <img src="https://www.mangasfan.fr/v8/images/discord.png"
           alt="Logo de Discord"
           width="54"
           height="54"/>

      <img src="https://www.mangasfan.fr/v8/images/youtube.png"
           alt="Logo de youtube"
           width="54"
           height="54"/>

      <img src="https://www.mangasfan.fr/v8/images/twitter.png"
           alt="Logo de twitter"
           width="54"
           height="54"/>

      <img src="https://www.mangasfan.fr/v8/images/instagram.png"
           alt="Logo de instagram"
           width="54"
           height="54"/>
    </div>
  {% endblock %}
{% endembed %}