{% extends 'base.html.twig' %}

{% block title %}Site d'actualité sur les mangas et les animes{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('js/home') }}
{% endblock %}

{% block banner %}
  {% include "home/banner.html.twig" %}
{% endblock %}

{% block body %}
  <section class="news-section">
    <h2>Dernières actualités</h2>

    {% include 'home/item_news.html.twig' with { news_data } %}

    <a href="#"
       class="show-all">
      Voir toutes les actualités
    </a>
  </section>

  <section>
    <h2>Nos dernières japanimation</h2>
    <div class="article-section--container latest-anime--container">
      {% for anime in last_animes %}
        {% include 'home/article.html.twig' with {
          picture: anime.image,
          name: anime.title
        } %}
      {% endfor %}
    </div>

    <a href="#"
       class="show-all mt-8">
      Voir toutes les japanimations
    </a>
  </section>

  {% if month_favorite %}
    <section>
      <h2>Notre coup de coeur</h2>

      <div class="monthly-favorite--container">
        {% include 'home/information-bloc.html.twig' with {
          title: month_favorite.title,
          content: month_favorite.synopsis,
          linkName: 'Voir l\'anime',
          picture: month_favorite.image
        } %}
      </div>
    </section>
  {% endif %}

  <section>
    <h2>Nos derniers mangas</h2>

    <div class="article-section--container latest-mangas--container">
      {% for tome in last_tomes %}
        {% include 'home/article.html.twig' with {
          picture: tome.cover,
          name: tome.name,
          subName: tome.manga.name
        } %}
      {% endfor %}
    </div>

    <a href="#"
       class="show-all mt-8">
      Voir tous les mangas
    </a>
  </section>

  <section>
    <h2>Mangas'Wiki</h2>

    <div class="article-section--container mangas-wiki--container">
      {% for article in last_articles_anime %}
        {% include 'home/article.html.twig' with {
          picture: article.cover,
          name: article.title
        } %}
      {% endfor %}
    </div>

    <a href="#"
       class="show-all mt-8">
      Voir tous nos wikis
    </a>
  </section>

  <section>
    <h2>La boutique</h2>

    <div class="shop--container">
      {% include 'home/information-bloc.html.twig' with {
        title: 'Dépensez vos Mangas\'Points !',
        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
        linkName: 'Découvrir la boutique',
        picture: asset('build/images/boutique-logo.png')
      } %}
    </div>
  </section>
{% endblock %}
