{% extends 'base_staff.html.twig' %}

{% block title %}Ajouter une nouvelle news{% endblock %}

{% block body %}
{% if app.user %} 
    <div class="commentArea w-100">
        {{ form(news_form, { 'attr': { 'class': 'comment-form' } }) }}
    </div>
{% endif %}

{% endblock %}