<div class="banner-container">
  <div class="banner-content">
    {% block banner_content %}{% endblock %}
  </div>

    <div class="banner-picture">
      <img src="{{ asset(random(render_assets())) }}"
           alt="Render bannière" />
    </div>
</div>
