{% extends 'base_with_banner.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row g-5">
            <div class="col">
                <h3 class="border-bottom">
                    Catégorie : {{ category.name }}
                </h3>

                <div class="allNewsGroup">
                    {% include 'news/item_news.html.twig' with { news: category.news } %}
                </div> 
            </div>
        </div>
    </main>
{% endblock %}
