{% extends 'base_staff.html.twig' %}

{% block title %}Gestion staff{% endblock %}


{% block body %}
Bienvenue sur le pannel staff
    <a href="{{ path('admin_news') }}">Accès aux news</a>
{% endblock %}
