@import 'imports';

/* Principal navbar website */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $dark-blue-background-navbar;
    left: 0;
    font-family: $poppins;
    z-index: 9999;
}

#container, #imgSocialNetwork {
    display: flex;
    align-items: center;
}

.column:nth-child(1) {
    flex: 1;
    margin: 1em 1em 1em 12em;
}

.column:nth-child(2) {
    flex: 2;
    text-align: right;
    padding-right: 12em;
}

ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

li {
    margin-left: 3em;
}

li a {
    color: $white;
    text-decoration: none;
}

/* Bannière du site */
header {
    font-family: $poppins;
}

h1 {
  margin: 0 pixels-to-em(110) pixels-to-em(18) 0;
  font-weight: 600;
  font-size: 4em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
}

#banner {
    display: flex;
    margin-top: 6em;
    height: 80vh;
    justify-content: space-between;
    margin-bottom: 25em;
}
.slogan {
    font-size: 0.9em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
}
.element:nth-child(1) {
    flex: 1;
    margin-left: 12em;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.element:nth-child(2) {
    flex: 1.5;
}

.renderImage {
    position: absolute;
    right: 0;
    width: 50.625em;
    height: 54.375em;
    background-image: url('https://www.mangasfan.fr/v8/images/circle.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.imageBanner {
    width: auto;
    max-height: 95%;
    margin-top: 5em;
    margin-left: 1em;
}