@import 'imports';

/* News */
section {
  max-width: 90%;
  margin: auto auto 5em;
}
  
.allNewsGroup {
  width: 100%;
  max-width: 100em;
  display: grid;
  //grid-template-columns: 50% 50%;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); 
  grid-template-rows: 18.5em 18.5em;
  grid-auto-flow: column;
  margin: auto;
}

.newsCard {
  background-color: $dark-blue-background-news-card;
  border-radius: 1.5em;
  margin-bottom: 2em;
  position: relative;
}
  
.allNewsGroup .newsCard:first-child {
  grid-column: 1;
  grid-row: 1 / 3;
  margin-right: 2em;
}
  
.newsCard:nth-child(2), .newsCard:nth-child(3) {
  display: flex;
}
  
.contentNews {
  width: 90%;
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 0.5em;
  font-family: $poppins;
}

.newsCard:first-child .newsImage {
  width: 100%;
  max-width: 100%;
  height: 17em;
  clip-path: ellipse(100% 100% at 50% 0%);
}

.newsCard:first-child .imageNews{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1em 1em 0 0;
}


.newsCard:nth-child(2) .newsImage, .newsCard:nth-child(3) .newsImage {
  width: 12em;
  height: 100%;
  clip-path: ellipse(90% 100% at 5% 50%);
}
  
.newsCard:nth-child(2) .imageNews, .newsCard:nth-child(3) .imageNews {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 0 0 1em;
}
  
.footerNews {
  min-height: 3em;
  width: 100%;
  position: absolute;
  bottom: 0;
 }
  
.linkArticle {
  position: absolute;
  bottom: 0;
  width: 95%;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $light-pink-link;
  text-decoration: none;
  text-align: right;
  padding-bottom: 1em;
}
  
.newsCard:first-child .linkArticle {
  padding-bottom: 1em;
  padding-left: 1.6em;
  text-align: left;
}

.titleNews {
  font-size: 1.5em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.01em;
  text-align: left;
  color: #fefefe;
}

.descriptionNews {
  font-size: 1em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.01em;
  text-align: left;
  color: $very-light-grey;
}
  
.linkNews {
  font-family: $poppins;
  font-size: 1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: $light-pink-link;
  text-decoration: none;
}
  
.linkArchive a {
  font-family: $poppins;
  float: right;
  font-weight: bold;
  text-decoration: none;
  color: #f85ed7;
}
  
.lastAnimes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
  grid-gap: 3em;
}

.anime {
  margin-bottom: 5em;
  height: 15.8em;
}
  
.anime > h3,
.mangas > h3,
.articles > h3 {
  font-family: $poppins;
  text-align: center;
}
 
.anime img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

/* Flexbox Coup de coeur */
#coupCoeur {
  border-radius: 2em;
  background-color: $dark-blue-background-navbar;
  min-height: 19em;
  height: auto;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}
  
.itemFlex:first-child {
  padding: 1em 3em 3em;
  width: 60%;
}

.titleCoeur{
  font-family: $poppins;
  font-size: 1.5em;
}

.synopsisAnime {
  font-family: $poppins;
  text-align: justify;
  padding-bottom: 3em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
  
.linkAnime {
  font-family: $poppins;
  font-weight: bold;
  text-decoration: none;
  color: #f85ed7;
}

.itemFlex:nth-child(2) {
  width: 40%;
  min-height: 19em;
}
  
.imageAnime {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  clip-path: ellipse(90% 100% at 100% 50%);
  float: right;
  border-radius: 0 1em 1em 0;
}
  
/* Last mangas */
.lastMangas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr)); 
  grid-gap: 3em;
}

.containerManga {
  margin-right: 1em;
}

.mangas {  
  //width: 17em;
  min-height: 25em;
}
  
.mangas img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  border-radius: 1em;
}
  
.linkMangas a {
  font-family: $poppins;
  font-weight: bold;
  text-decoration: none;
  color: $light-pink-link;
  float: right; 
}
  
/* Boutique */
.itemBoutique:first-child {
  width: 40%;
  min-height: 21.65em;
}
  
.itemBoutique:nth-child(2) {
  width: 60%;
  padding: 1em 3em 3em;
  height: auto;
}
  
.imageBoutique {
  width: 90%;
  height: 100%;
  object-fit: cover; 
  clip-path: ellipse(90% 100% at 5% 50%);
  border-radius: 1em 0 0 1em;
  float: left;
}
  
/* Derniers articles */
.lastArticles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); 
  gap: 3em;
  justify-items: center;
}

.articles {
  width: 21em;
  min-height: 20em;
}
  
.articles img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 1em;
}

.buttonCategory {
  padding: 0.4em;
  border-radius: pixels-to-em(8);
  color: $white;
  font-size: 0.8em;
  cursor: pointer;
  margin-right: 0.3em;
}

/* Commentaires */

.buttonComment {
  background-color: transparent; /* Green */
  border: none;
  color: $pink-button-comment;
  padding-top: 1em;
  font-size: pixels-to-em(16);
  cursor: pointer;
}

