 {% for new in news %}
    <div class="newsCard">
    <div class="newsImage">
        <img src="https://www.mangasfan.fr/hebergeur/uploads/1656883720.jpeg" class="imageNews" />
    </div>
    <div class="contentNews">
                <h2 class="titleNews">{{ new.titleNews }}</h2>
                <p class="descriptionNews">{{ new.descriptionNews|raw }}</p>
            </div>
            <div class="footerNews">
                <a href="{{ path('news_show', {'slug': new.slug}) }}" class="linkArticle">Lire l'article</a>
            </div>
    </div>
{% endfor %}