{% extends 'base.html.twig' %}

{% block title %}{{ news.titleNews }} {% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ news.titleNews }}</h1>
        <hr>
        {{  news.contentNews|raw }}
    </div>
{% endblock %}
