$dark-blue-background-website: #060A16;
$dark-blue-background-navbar: #1E1E1E;
$dark-blue-background-news-card: #141720;

$very-light-grey: #FEFEFE;
$white: #FFF;

$light-pink-link: #F85ED7;
$pink-button-comment: #BD00A0;

$light-blue: #16841A;
$light-red: #d07e7e;
$facebook-color: #4a7bcf;