{% extends 'base.html.twig' %}

{% block title %}S'inscrire sur le site{% endblock %}

{% block body %}
    <section>
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button type="submit" class="buttonComment">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
